[submodule "july"]
	path = july
	url = https://github.com/N4J13/medical-nextjs-template
[submodule "zayior"]
	path = zayior
	url = https://github.com/N4J13/zayior-resort
[submodule "weather-plane"]
	path = weather-plane
	url = https://github.com/N4J13/plane-window-weather
